@import "header.css";
@import "nav.css";
@import "footer.css";
@import "memoryGame.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/resources/img/footer_lodyas.png");
}
