<h2 class="hangmanGame-h2">Wisielec</h2>
<p class="hangmanGame-p" ng-if="true">Spróbuj odgadnąć hasło. Wybierz jedną z liter. Jeśli trafisz w literę, która znajduje się w haśle, zostanie ona wyświetlona. Jeśli nie - trafisz na szubienice &#128128;</p>
<div id="hangmanGame-container">
    <button class="hangmanGame-button" ng-if="!hangman.isGameStarted" ng-click="hangman.startGame()">Rozpocznij nową grę</button>
    <div id="hangmanGame-box" ></div>
    <div id="gibbet" ng-if="hangman.isGameStarted">
        <img src="resources/img/hangmanGame/s{{ hangman.incorrectLetterNumber }}.jpg"/>
    </div>
    <div id="alphabet" ng-if="hangman.isGameStarted">
        <div class="letter" ng-repeat-start="let in hangman.letters" ng-click="hangman.check($index)" id="let{{$index}}">
            {{ let }}
        </div>
        <div class="hangman-clear" ng-repeat-end ng-if="($index + 1) % 7 == 0"></div>
    </div> 
    <div class="hangman-clear"></div>
</div>