.board {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.memoryGame-h2 {
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-bottom: 0;
	font-family: 'Arapey', serif;
	font-weight: 700;
}

.memoryGame-h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.memoryGame-h3 > a {
	color: var(--main-color);
	text-decoration: none;
}

.memoryGame-h3 > a:link {
	color: var(--main-color);
	text-decoration: none;
}

.memoryGame-h3 > a:visited {
	color: var(--main-color);
}

.memoryGame-h3 > a:active {
	color: var(--main-color);
}

.memoryGame-h3 > a:hover {
	color: #E9B64A;
	text-decoration: none;
}

.board > p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.board > button {
	margin-top: 20px;
	background-color: #209781;
	border: 1px solid var(--main-color);
	width: 300px;
	height: 50px;
	color: inherit;
	font-size: 1.2rem;
	letter-spacing: 1px;
	box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.board > button:hover {
	background-color: var(--main-color-light);
	cursor: pointer;
}

.board > button:active {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

.card {
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("resources/img/memoryGame/karta.png");
	border: 4px solid #51c8b2;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
}

.card:hover {
	border: 4px solid #E9B64A;
	filter: brightness(100%);
}

.cardA {
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("resources/img/memoryGame/karta.png");
	border: 4px solid #E9B64A;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}

.score {
	margin-top: 5px;
	letter-spacing: 2px;
}