<div class="board">
    <h2>Gwent Memory</h2>
    <button ng-click="memory.startNewGame()" ng-if="memory.isCardListEmpty">Rozpocznij grę</button>
    <div ng-if="memory.cardList">
        <div class="card" id="c{{$index}}" ng-repeat="card in memory.cardList track by $index" ng-click="memory.revealCard($index)"></div>
        <div class="score">Turn counter: 0</div>
    </div>
    
    <p>Inspired by <a href="https://www.playgwent.com/pl" target="_blank"> Gwent - The Witcher Card Game</a></p>
</div>